<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   
	<bean id="priceSystemReaderQuartzTask" class="com.mnptech.bcgen.job.PriceSystemReaderQuartzTask" />

	
	<bean name="priceSystemReaderJob" class="org.springframework.scheduling.quartz.JobDetailBean">

		<property name="jobClass" value="com.mnptech.bcgen.job.PriceSystemReaderQuartzJob" />

		<property name="jobDataAsMap">
			<map>
				<entry key="readerTask" value-ref="priceSystemReaderQuartzTask" />
			</map>
		</property>

	</bean>
  
	

		<bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">

		<property name="jobDetail" ref="priceSystemReaderJob" />
		<property name="repeatInterval" value="5000" />
		<property name="startDelay" value="1000" />

	</bean>
   
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobDetails">
			<list>
				<ref bean="priceSystemReaderJob" />
			</list>
		</property>

		<property name="triggers">
			<list>
				<ref bean="simpleTrigger" />
			</list>
		</property>
	</bean>
	
	<!-- -->
</beans>
